name: Deploy to Production (Local Ubuntu)

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    # pastikan sudah terinstall di server tujuan :
    # - nodejs
    # - npm
    # - pm2 dan sudah setup
    # - git
    # - postgresql
    # - nginx dan sudah setup
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy and Restart App
        run: |
          cd /home/ham/kas_kecil_copy

          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts

          git pull origin master
          cd ..

          cd frontend-next
          npm install
          npm run build

          cd ../backend-nest
          npm install
          npx prisma migrate dev --name init
          npm run build

          pm2 restart all || pm2 start dist/main.js --name backend

          pm2 restart all || pm2 start dist/main.js --name frontend
