name: Deploy to Production (Ubuntu)

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Production via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          script: |
            cd /home/ham
            git pull origin master
            cd frontend-next
            pnpm install
            pnpm run build
            # backend par 
            cd ../backend-nest
            pnpm install
            pnpm run build

            pm2 restart all
